html, *{
    box-sizing: border-box;
}

:root{
    --dark-blue: #053343;
    --lemon-green: #4CB44C;
    --orange-red: #F26428;
    --text-light: #ffffff;
    --text-dark: #000000;
}

body{
    width: 100vw;
    overflow-x: hidden;
}

/*Particles*/
#particles-js{
    position: absolute;
    width: 98vw;
}
.particles-js-canvas-el{
    width: 98vw!important;
}

/*End of Particles/

/*Navbar*/
.navbar-brand{
    padding-top: 0.55rem;
}
.navbar.vgg-nav{
    background-color: var(--dark-blue)!important;
    padding: 15px 125px 5px;
}

.nav-item:not(:last-of-type){
    margin-right: 1.5em;
}

.navbar-nav .nav-link.active{
    padding-bottom: 3px;
    border-bottom: 3px solid var(--lemon-green)!important;
}
.navbar-nav .nav-link{
    padding-top: 0px ;
}

@media screen and (max-width:992px){
    .navbar.vgg-nav{
        padding: 8px 16px;
    }
}
/*End of Navbar*/

/* Intro Section */
.intro{
    background: url('https://i.ibb.co/26dyq7b/Vector.png') no-repeat;
    background-size: 100%;
    background-position-y: -130px;
    background-color: var(--dark-blue);
    color: var(--text-light);
    display: flex;
    align-items: center;
    margin-top: 65px;
    padding: 0px 125px 0px;
    height: 95vh;
}
.intro>div{
    width:100%;
}
.intro-text>div{
    letter-spacing: 0.175rem;
}
.intro-text .small{
    display: none;
}

.get-started-btn{
    padding: 10px 50px;
    background-color: var(--lemon-green);
    color: var(--text-light);
    border: none;
    border-radius: 20px;
    font-weight: weight;
}


.illustration-parent{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.illustration-parent>div{
    height: 200px;
}
.illustration-parent img{
    width: 450px;
    height: 300px;
}

@media screen and (max-width:992px){
    .intro{
        margin-top: 40px;
    }
    .intro-row{
        display: flex;
        flex-direction: column-reverse!important;
        justify-content: center;
    }
    .intro-text>div{
        text-align: center;
    }
    .intro-text .small{
        display: initial;
    }
    .intro-text .big{
        display: none
    }
    .illustration-parent{
        justify-content: center;
        margin-bottom: 7vw;
    }
    .illustration-parent img{
        width: 300px;
        height: 200px;
    }
    .illustration-parent>div{
       text-align: center;
    }
}

@media screen and (max-width:650px){
    intro-text>div{
        letter-spacing: normal;
    }
    .intro{
        padding: 60px 0px 80px;
    }
    
}

@media screen and (max-width:420px){
    .intro-text p{
        padding-left: 3.8vw;
        padding-right: 3.8vw;
        font-size: 3.5vw;
    }
    
}


/* Activities Section */
.activities{
    padding: 40px 125px 80px;
}

.learn-and-fun{
    font-size: 56px;
    font-weight: 900;
    letter-spacing: 0.3rem;
}

p.text-monospace{
    font-size: 27px;
}
.col-lg-6.pix{
    margin-top: -100px;
}
.media{
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 5px;
}

.media-img{
    align-self: center;
}

.orange{
    color: var(--orange-red);
}

.green{
    color: var(--lemon-green);
}

.learning-pics{
    display: flex;
    flex-direction: column;
}

.work-n-play{
    font-size: 22px;
}

.learning-pics>div{
    position: relative;
    height: 260px;
    padding-left: 0;
}
.learning-pics img{
    height: 260px;
    width: 100%;
}

.learning-pics>div:nth-child(2) img{
    position: relative;
    top: -10px;
    left: 80px;
}
.learning-pics>div:nth-child(3) img{
    position: relative;
    top: -20px;
    left: 30px;
}
@media screen and (max-width:992px){
    .activities{
        padding: 40px 125px 60px;
    }
    .col-lg-6.pix{
        margin-top: 24px;
    }
}
@media screen and (max-width:600px){
    .activities{
        padding: 40px 16px 25px;
    }
    .activities .media-body h5{
        font-size: 18px;
    }
    .activities .media-body br{
        display: none;
    }
    .work-n-play br{
        display: none;
    }
    .learning-pics{
        align-items: center;
    }
    .learning-pics .col-9{
        padding-right: 0;
    }
    .learn-and-fun{
        font-size: 9vw;
    }
    .learn-and-fun br{
        display: none;
    }
    .orange.fun{
        display: inline-block!important;
    }
    .learning-pics>div:nth-child(2) img{
        left: 30px;
    }
    .learning-pics>div:nth-child(3) img{
        left: -30px;
    }
}

@media screen and (max-width:374px){
    .activities .media-body h5{
        font-size: 16px;
        font-weight: 700;
    }
    .activities .media-body{
        font-size: 15px;
    }
}
    

/* End of Activities Section */

/*Start of Tracks*/
.tracks{
    background-color: var(--dark-blue);
    color: var(--text-light);
    padding: 60px 125px;
}

.tracks .green-text{
    font-weight: 500;
    font-size: 56px;
    line-height: 56px;
    color: var(--lemon-green);
    letter-spacing: -0.025em;
}

.tracks .row:nth-of-type(1){
    margin-bottom: 56px;
}

.tracks span{
    color: var(--orange-red);
    font-weight: 900;
    font-size: 56px;
    line-height: 100%;
    align-self: center;
}

@media screen and (max-width:992px){
    .tracks .row.first{
        margin-bottom: 0px;
    }
}
@media screen and (max-width:600px){
    .tracks{
        padding: 30px 16px;
    }
    
    .tracks .green-text{
        font-weight: 500;
        font-size: 42px;
        line-height: 42px;
        letter-spacing: -0.025em;
    }
}
/* End of Tracks */

/* Start of Instructors*/
.instructors{
    min-height: 500px;
    padding: 50px 125px 170px ;
}

.owl-theme.row{
    width:100%;
}

.instructors .item{
    position: relative;
    max-width: 100%!important;
}

.instructors .vector{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 152px!important;
    height: 135px;
}

.instructors .tutor{
    position: absolute;
    top: 5px;
    left: calc(50% + 3px);
    transform: translateX(-50%);
    width: 119px!important;
}

@media screen and (max-width:600px){
    .instructors h2{
        font-size: 5.5vw;
    }
}
/*End of Instructors*/

/*Start of Footer */
footer{
    background-color: var(--dark-blue);
    color: var(--text-light);
    padding: 175px 0 20px;
    position: relative;
}
.bottom-half{
    padding-left: 125px;
    padding-right: 125px;
}
.subscribe{
    padding: 0 15.4vw;
    position: absolute;
    top: -120px;
    width: 98vw;
}
.subscribe>div{
    background: linear-gradient(284.79deg, #81F281 5.46%, #4CB44C 69.39%);
    padding: 30px 3vw;
}
.subscribe h3 .small{
    display: none;
}
.subscribe #subcribe-input{
    width: 100%;
    padding: 15px 3vw;
    border-radius: 42px;
    background: #81F281;
    opacity: 0.4;
    border:  1px solid var(--text-light);
}
.subscribe #subcribe-input:focus,
.subscribe #btn{
    outline: none;
}
.subscribe #btn{
    padding: 15px 2.4vw;
    background:  var(--text-light);
    border-radius: 42px;
    border: none;
}

.social{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.social img:not(:last-of-type){
    margin-right: 1em;
}
@media screen and (min-width:993px) and (max-width: 1350px){
    
    .subscribe .row{
        padding: 30px 2vw;
    }
    .subscribe .row>div{
       padding: 0 10px
    }
    .subscribe #subcribe-input{
        padding: 15px 30px;
    }

    .subscribe #btn{
        padding: 15px 15px;
    }
}
@media screen and (max-width:992px){
    .subscribe{
        top: -167px;
    }
    .subscribe>div{
        padding: 30px 3vw;
    }
    .subscribe h3 .small{
        display: initial
    }
    .subscribe h3 .big{
        display: none
    }
    .subscribe #btn{
        padding: 15px 20px;
    }
}
@media screen and (min-width:601px) and (max-width:992px){
    footer{
        padding: 195px 0 20px;
    }
    .vgg-info-div {
        flex: 0 0 100%!important;
        max-width: 100%!important;
    }
    .bottom-half{
        padding-left: 12.5vw;
        padding-right: 12.5vw;
    }
}
@media screen and (max-width:600px){
    .bottom-half{
        padding-left: 16px;
        padding-right: 16px;
    }
    .bottom-half br{
        display: none;
    }
    .subscribe{
        padding: 0 16px;
        width: 100vw;
        right: 0px;
        left: 0px;
        background:none;
        top: -145px;
    }
    .subscribe .row{
        margin-left: 0;
        margin-right: 0;
    }
    
    .subscribe h3{
        font-size: 5vw;
    }
    .subscribe p{
        font-size: 3.8vw;
    }
    .vgg-info{
        padding-right: 6vw;
        font-size: 3vw;
    }
    .vgg-info+p{
        font-size: 3vw;
    }
}

@media screen and (max-width:374px){
    .bottom-half small{
        font-size: 11px;
    }
    .social img:not(:last-of-type){
        margin-right: 0.5em;
    }
}
@media screen and (max-width:340px){
    .bottom-half{
        padding-left: 10px;
        padding-right: 10px;
    }
    .social img:not(:last-of-type){
        margin-right: 0.3em;
    }
}
/*End of Footer*/
